@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

nav {
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 35px 35px;
}

.logo {
  max-width: 6%;
  max-height: 6%;
  position: relative;
  padding-top: 1.4%;
  padding-left: 3.5%;
  padding-bottom: 1%;
}

.searchBar {
  position: absolute;
  width: 65%;
  height: 50%;
  /*left: 295px;*/
  /*top: 16px;*/
  top: 20%;
  left: 17%;

  display: inline-block;
  background: #ffffff;
  border: 0.1px solid #565656;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.searchbtn {
  background: #1e4098;
  border: 0.6px solid #565656;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;

  position: absolute;
  width: 3%;
  height: 50%;
  /*left: 1480px;
  top: 38px;*/
  top: 20%;
  left: 79%;
}

/* pading untuk input textfield*/
input {
  width: 250px;
  padding: 1%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.searchIcon {
  padding-top: 10%;
  padding-left: 15%;
  padding-bottom: 10%;
  padding-right: 15%;
  max-width: 70%;
  max-height: 70%;
}
